/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

html {
	background-color: #FFFEF8;
}

a {
	text-decoration: none;
	color: inherit;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}

.instagram {scale: 0.5;}

nav li {
	padding: 0 10px;
	font-size: 14px;
}


li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}


#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 36px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
		height: 36px;
	font-size: 14px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	display: flex;
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2.5em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;

}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}


/*Projects*/

.titleh2 {
		text-align: center;
margin-top: 140px;
}

.list-filters {text-align: center;
	padding-bottom: 15px;
	margin-top: 52px;
	margin-bottom: 30px;
}

.projet-buttons{
font-family: Syne;
text-align: center;
font-size: 16px;
margin: 5px;
width: auto;
height: 37px;
border: 1px solid #1D6154;
border-radius: 60px;
min-width: 100px;
color: #1D6154;
background-color: white;
padding: 0 10px;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 18px;
	grid-row-gap: 18px;
}

.gallery img {
	width: 100%;
}


figcaption {
	margin-top: 5px;
	font-size: 13px;
	font-weight: 400;
color: #3D3D3D;
}

/* Appartements */

.projet-buttons.active {background: #1D6154;
color: white;}

.hidden { display: none;}
/*login button*/

.loginButton {
cursor: pointer;
 text-decoration: none; 
  color: inherit;  
  font-weight: 600;
}

/* Login form*/
.loginform { display: flex;
	flex-direction: column	;
	align-items: center;
	padding-top: 25px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
margin-top: 25px;}

*.form-group input {
	border: none;
	width: 379px;
height: 51px;
box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.loginform p {font-size: 30px;
font-family: Syne;
color: #1D6154;
}

.loginform a {display: grid;
text-align: center;
}

input .submitstyle {
	
	display: flex;
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
		height: 36px;
	border: none;
	align-items: center;
	
}
/*projects*/

